@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
    }
  }

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
    }
  }

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-200px);
    }
    to {
      opacity: 1;
    }
  }

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
    }
  }
